{% extends 'BlogBundle:Default:index.html.twig' %}



{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/blog.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block sidebar %}
    <h3>ВНИМАНИЕ! ВЫ ЗАШЛИ ПОД АДМИНИСТАРТОРОМ!</h3>
    <nav>
        <ul class="menu-item">
            <li class="item"><a href="{{ path('admin_blog_add') }}">Добавить блог</a></li>
        </ul>
    </nav>
{% endblock %}